<footer class="footer navbar-expand-lg py-3 mt-auto" style="background-color: rgb(46, 56, 52);">
    <div class="container">
        <div class='text-muted fs-5'>&copy; NoteApp 2021</div>
    </div>
</footer>
