<nav class="navbar sticky-top  navbar-expand-lg navbar-dark " style="background-color: rgb(46, 56, 52);">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">NoteApp</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
            <div class="navbar-nav ">
                <a class="nav-link active" href="/">Home</a>
                <a class="nav-link " href="/notes">Notes</a>
                <a class="nav-link" href="/notes/create">New Note</a>
            </div>
              <div class="navbar-nav ms-auto">
                <% if (!currentUser){ %>
                    <a class="nav-link " href="/login">Log In</a>
                    <a class="nav-link " href="/register">Register</a>
                    <% }else{ %>
                        <a class="nav-link " href="/logout">Log Out</a>
                        <% } %>
        </div>
        </div>
</nav>