
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Note App</title>
  <link rel='stylesheet' type="text/css" href="/styles/home.css">
  <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,300italic,400italic,600italic,600' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://ianlunn.github.io/Hover/css/hover.css" type="text/css" />
  <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Muli' type='text/css'>
</head>

<body>


  <div class="hero">
  <div class="fullscreen-bg"></div>
</div>


  <nav>
    <ul>
      <li><a href="/" style="cursor:pointer;">Home</a></li>
      <li><a href="/notes" style="cursor:pointer;">Notes</a></li>
      <% if (!currentUser){ %>
      <li><a href="/login" style="cursor:pointer;">Login</a></li>
      <li><a href="/register" style="cursor:pointer;">Register</a></li>
      <% }else{ %>
      <li><a href="/logout" style="cursor:pointer;">Logout</a></li>
      <% } %>
    </ul>
  </nav>

<div class="welcome">
 Welcom To <br>NOTE APP
</div>





</body>

</html>