<% layout('styles/boilerplate') %>

	<style>
		/* Environment */
		@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

		body {
			background: #f4f4f4;
			
		}

		div {
			box-sizing: border-box;
		}

		.jjg-form-block {
			margin: 0 auto; 
			width: 50%;
			padding: 4em;
			z-index: 1;
		}

		.jjg-form-block div {
			z-index: 1;
		}

		/* Form */
		.jjg-form-wrapper {
			background: #fff;
			padding: 1em 2em 3em;
			border-radius: 8px;
			display: flex;
			box-shadow: 0 8px 32px -16px rgba(0, 0, 0, 0.3);
		}

		.jjg-form {
			width: 100%;
		}

		.jjg-form-input-wrapper {
			width: 100%;
			margin-top: 12px;
		}

		.jjg-form-input-wrapper input {
			width: 100%;
			max-width: 100%;
			margin-top: 8px;
			display: block;
			box-sizing: border-box;
			padding: 8px 12px;
			border: 1px solid #ddd;
			border-radius: 4px;
			font-size: 1rem;
			line-height: 2;
			outline: 0 !important;
			color: #777;
		}

		.jjg-form-input-wrapper input:focus {
			border: 1px solid #32A3F2;
			color: #2d2d2d;
		}

		.jjg-form-button-wrapper {
			width: 100%;
			margin-top: 16px;
		}

		.jjg-form-button-wrapper input {
			width: 100%;
			display: block;
			padding: 12px;
			line-height: 2;
			border: 0;
			border-radius: 4px;
			font-weight: bold;
			color: #fff;
			background: #E85D21;
			font-size: 1rem;
			transition-duration: .3s;
			box-shadow: 33px 0px 54px -25px rgba(255, 194.00000000000009, 7.0000000000000036, 0.83) inset;
		}



		.jjg-form-button-wrapper input:hover {
			cursor: pointer;
			box-shadow: 100px 0px 92px 22px rgba(182.6666564941406, 153.96444744963472, 52.202069928204644, 0.42) inset;
		}

		@media screen and (max-width: 1079px) {
			.jjg-row {
				flex-wrap: wrap;
			}

			.jjg-info-block,
			.jjg-form-block {
				width: 100%;
			}

			.jjg-info-block {
				text-align: center;
			}

			.jjg-benefits-list {
				list-style: none;
				padding: 0;
			}
		}

		@media screen and (max-width: 767px) {
			.jjg-large-heading {
				font-size: 1.75rem;
			}

			.jjg-info-block,
			.jjg-form-block {
				padding: 1em;
			}
		}
	</style>

    <!-- Form Wrapper -->
    <div class="jjg-form-block">
        <div class="jjg-form-wrapper">

            <!-- Account Creation Form -->
            <form class="jjg-form" action="/notes" method="POST">

                <!-- Form Heading -->
                <h2 class="jjg-medium-heading" style="text-align: center;">Create Note</h2>
                
                <!-- Input Wrapper -->
                <div class="jjg-form-input-wrapper">
                    <label for="heading">Title</label>
                    <input type="text" id='heading' name="heading" placeholder="Title"  required>
                </div>

				<div class="jjg-form-input-wrapper">
				<div class="input-group mb-3">
					<div class="input-group-prepend">
					  <label class="input-group-text" for="inputGroupSelect01">Select Title Style</label>
					</div>
					<select name="style" id="style" onchange="dropdownChange();">
						<option id='' name="" required disabled selected value> Select style</option>
						<option id='bold' name="bold" value="bold" required> bold</option>
						<option id='italic' name="italic" value="italic" required> italic</option>
					</select>
				  </div>
				  </div>

                <!-- Input Wrapper -->
                <div class="jjg-form-input-wrapper">
                    <label for="body">Note</label>
                    <textarea class="form-control" type="text" name="body" placeholder="Note" required></textarea>
                </div>

                <div class="mb-3">
                    <label for="ColorInput" class="form-label">Choose color of heading</label>
                    <input type="color" class="form-control form-control-color" id="ColorInput" name="ColorInput" 
                    oninput="updateColor( this )" 
                </div>
                <!-- Submit Button -->
                <div class="jjg-form-button-wrapper">
                    <input type="submit" name="submit" value="Create">
                </div>

            </form>
        </div>
    </div>
</div>

	<script>
		function updateColor( obj ) {
		  document.getElementById("heading").style.color = obj.value;
		}
	  </script>

<script>
	function dropdownChange()  {
	var drop = document.getElementById("style").value;
	  if (drop === 'bold') {
		var heading = document.getElementById("heading");
		heading.style.fontWeight = 'bold';
		heading.style.fontStyle = 'normal';
	  }
	  else if (drop = 'italic') {
		var heading = document.getElementById("heading");
		heading.style.fontStyle = 'italic';
		heading.style.fontWeight = 400;
	  }
	}
  </script>
	<script src="https://kit.fontawesome.com/542d90fccf.js" crossorigin="anonymous"></script>